* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f2f4;
}
.container {
  max-width: 1368px;
}
.container-fluid {
  max-width: 1400px;
}
.a_nav {
  /* padding: 0px 28px; */
}
a {
  text-decoration: none;
}
/* header section  */
header {
  height: 70px;
  background-color: #fff;
}
header nav .container-fluid {
  /* padding-right: 74px; */
  /* max-width: 1100px; */
  padding: 0 35px;
}
header .navbar-brand {
  /* width: 90px; */
}
header .search-input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}
header .search-input:focus {
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
}
header .search-form {
  height: 40px;
  background: #f0f5ff;
}
header .search-form i{
  font-size: 18px;
}
header .navbar-nav a{
  font-size:17px;
  color: black;
}
header .navbar-nav li:first-child:hover{
  background-color: #2a55e5;
  color: white;
  border-radius: 8px;
}
header .navbar-nav .dot-btn{
  padding: 8px 12px!important;
  border: 1px solid transparent;

}
header .navbar-nav .dot-btn:hover{
  background-color: #F7F7F7;
  border-radius: 8px;
  border: 1px solid rgb(230, 230, 230);
  /* padding: 8px 12px!important; */
}
header .dropdown-toggle::after {
  display: none;
}
.dropdown-menu{
  /* width: 250px; */
  left: unset!important;
  right: 30px!important;
  /* font-size: 12px!important; */
}

header .dot-btn:hover header .dropdown-menu{
  display: block!important;
}
header .dropdown-menu a{
  font-size: 14px!important;
}




main {
  margin-top: 78px;
}
/* categories section  */
.categories {
  margin-top: 8px;
  height: 128px;
  background-color: #fff;
}
.category {
  max-width: 200px;
  padding: 0;
}
.category-text {
  color: #494949;

  font-size: 14px;
  font-weight: 700;
}

/* banner slider  */
/* banner slider section  */
.banner-slider {
  height: 242px;
  margin-top: 16px;
  background-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 90px;
  height: 100px;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}
.carousel-control-prev,
.carousel-control-next:hover {
  color: black;
}

.carousel-control-prev {
  border-radius: 0 5px 5px 0;
}
.carousel-control-next {
  border-radius: 5px 0 0 5px;
}

.carousel-indicators {
  background: #0000008f;
  width: 90px;

  margin: auto;
  margin-bottom: 30px;
  padding: 3px 10px;
  border-radius: 5px;
}
.carousel-indicators button {
  width: 5px !important;
  height: 5px !important;
  border-radius: 50%;
  border: 0 !important;
}

/* products-slider */
.products-slider {
  height: 350px;
  /* background-color: #333;*/
  margin-top: 16px;
}
.products-slider .row {
  height: 100%;
  width: 100%;
  margin: auto;
}

.products-slider .row .flight-add img {
  width: 100%;
  height: 100%;
}

.products-slider .section-heading {
  display: flex;
  justify-content: space-between;
}
.products-slider .section-heading i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
}
.products-slider .left-side {
  background: #fff;
}
.products-slider .p-slider {
  position: relative;
  /* height: 100%; */
  /* background-color: aqua; */
}
.products-slider .swiper {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
}
.products-slider .swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  background: #ffffff;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px solid rgb(236, 236, 236);
  width: 200px;
  height: 254px;
  border-radius: 5px;
}

.products-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products-slider .swiper-button-disabled {
  opacity: 0;
}
.products-slider .swiper-button-next {
}
.products-slider .product-img {
  height: 196px;
}
.products-slider .swiper-slide h4 {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
}
.products-slider .swiper-slide p {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: -8px;
}
.products-slider .flight-add {
  background: #fff;
}
.products-slider .section-heading h3 {
  font-size: 22px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  /* content: 'prev'; */
  background: #ffffff;
  padding: 40px 18px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0 5px 2px 0;
  box-shadow: 3px 0px 17px 4px #e9e8e891;
  color: #333;
}

.swiper-button-prev:after {
  border-radius: 0 5px 2px 0;
  box-shadow: 3px 0px 17px 4px #e9e8e891;
}
.swiper-button-next:after {
  border-radius: 8px 0 0 8px;
  box-shadow: -3px 0px 17px 2px #cfcfcf91;
}

/* products-slider 2  */
.products-slider-2 {
}
/* products-slider 3  */
.products-slider-3 {
}

/* products-box-wrapper  */
.products-box-wrapper {
  /* height: 624px; */
  /* background: #c56060; */
  margin-top: 16px;
}
.products-box-wrapper .box-heading h3 {
  font-size: 22px;
}
.products-box-wrapper .box-heading div {
  width: 25px;
  height: 25px;
  padding: 9px 9px 9px 11px;
  background: #2a55e5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.products-box-wrapper .products .product {
  width: 195px;
  height: 260px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 8px;
}
.products-box-wrapper .products .product-img {
  min-height: 195px;
  display: flex;
  justify-content: center;
  /* width: 170px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid red; */
}
.products-box-wrapper .products .product-img img {
  height: 100%;
  /* width: 100%; */
  object-fit: contain;
}
.products-box-wrapper .products h4 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1rem;
  margin: 0;
}
.products-box-wrapper .products p {
  font-size: 17px;
  font-weight: 600;
  color: #108934;
}
.products-box-wrapper .single-box-wrapper {
  background-color: #fff;
}
.products-box-wrapper .single-box-add {
  height: 602px;
}
.products-box-wrapper .single-box-add img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* information section   */
.informaion-section {
  min-height: 200px;
  margin-top: 95px;
  /* background-color: #fff; */
}
.informaion-section h3 {
  font-size: 16px;
  color: #565656;
}
.informaion-section span {
  color: #333;
}
.informaion-section p span {
  text-transform: uppercase;
  font-size: 14px;
}
.informaion-section p a {
  font-size: 12px;
  color: #565656;
  border-right: 1px solid grey;
  padding-right: 5px;
  font-weight: 400;
}
.informaion-section p a:last-child {
  border-right: none;
}

/* footer section  */
footer {
  /* height: 360px; */
  background-color: #172337;
  margin-top: 25px;
}
footer h3 {
  font-size: 12px;
  font-weight: 500;
  color: #878787;
}
footer ul {
  color: #fff;
  list-style: none;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
}
footer .social-icons {
  font-size: 18px;
}
footer .address-sec {
  border-color: #c2c2c2 !important;
}
footer hr {
  color: #fff;
}
footer .footer-bottom ul li {
  font-weight: 400;
  font-size: 12px;
}
footer .footer-bottom ul li i {
  color: rgb(177, 177, 2);
}
footer .contact-no span {
  font-weight: 400;
  color: #2a55e5;
}
