*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F2F4;
}
.container{
    max-width: 1368px;
}
.a_nav{
    /* padding: 0px 28px; */
}
a{
    text-decoration: none;
}
/* header section  */
header{
    height: 70px;
    background-color: #fff;
}

/* categories section  */
.categories{
    margin-top: 8px;
    height: 128px ;
    background-color: #fff;
}
.category{
    max-width: 200px;
    padding: 0;
}
.category-text{
    color: #333;
   
    font-size: 16px;
    font-weight: 600;
}

/* banner slider  */
/* banner slider section  */
.banner-slider{
    height: 242px;
    margin-top: 16px;
    background-color: #fff;
}
.carousel-control-prev, .carousel-control-next{
    width: 40px;
    height: 90px;
    height: 100px;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}
.carousel-control-prev, .carousel-control-next:hover{
    color: black;
}


.carousel-control-prev{
    border-radius: 0 5px 5px 0;
}
.carousel-control-next{
    border-radius: 5px 0 0 5px;
}

.carousel-indicators{
    background: #0000008f;
    width: 90px;
    
    margin: auto;
    margin-bottom: 30px;
    padding: 3px 10px;
    border-radius: 5px;
} 
.carousel-indicators button{
    width: 5px!important;
    height: 5px!important;
    border-radius: 50%;
    border: 0!important;
    

}





/* products adds  */
.products-adds{
    height: 495px;
    margin-top: 16px;
    background-color: #fff;
}
/* products-slider  */
.products-slider{
    height: 350px;
    background-color: #fff;
    margin-top: 16px;
}
/* top selling products  */
.top-selling{
  height: 640px;
  background: #fff;
  margin-top: 16px;   
}
/* products-slider  */
.products-slider-2{
    height: 350px;
    background-color: #fff;
    margin-top: 16px;
}
/* recent views  */
.recent-views{
    height: 350px;
    background-color: #fff;
    margin-top: 16px;
}

/* information section   */
.informaion-section{
    height: 200px;
    margin-top: 95px;
    background-color: #fff;
}
/* footer section  */
footer{
    height: 360px;
    background-color: #212121;
    margin-top: 25px;
}